p {
    font-size: 80px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    background-color: rgb(178, 216, 209);
}

legend {
    font-size: 50px;
}

fieldset {
    text-align: center;
    border-width: 10px;
    border-color: rgb(41, 157, 170) ;
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    
}

label {
    color: rgb(41, 157, 170);
    font-size: 30px;
}

input {
    height: 30px;
    width: auto;
    font-size: 25px;
}


button {

    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(25, 25, 26) -2px -2px 0px 2px, rgb(41, 157, 170) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    
:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}

}

.backgroundI {
    background-image: url(blue-curved-border-simple-background_53876-115364.jpg.webp);
}
